:root {
  --primary-color: #181f2b;
  --secondary-color: #4b414d;
  --hightlight-light-color: #fbebd5;
  --hightlight-light-alt-color: #b9b393;
  --hightlight-dark-color: #a16240;
  --text-dark-color: #181f2b;
  --text-light-color: #FFFFFF;
  --paper-image-url: url("/systems/mythicbastionland/ui/paper.png");
  --title-font-family: "AnglicanText Regular";
  --text-font-family: "TeXGyreSchola";
  --secondary-text-font-family: "DeliciousHandrawn Regular";
  --green: #52345d;
  --orange: #5c1319;
}

@font-face {
  font-family: "AnglicanText Regular";
  font-weight: 400;
  src: url("../fonts/anglicantext.regular.ttf") format("truetype");
}
@font-face {
  font-family: "DeliciousHandrawn Regular";
  font-weight: 400;
  src: url("../fonts/DeliciousHandrawn-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/texgyreschola-regular.woff") format("woff");
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/texgyreschola-italic.woff") format("woff");
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts//texgyreschola-bold.woff") format("woff");
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/texgyreschola-bolditalic.woff") format("woff");
}
.mythic-bastionland {
  --color-shadow-primary: var(--hightlight-dark-color);
  --color-text-hyperlink: var(--hightlight-dark-color);
}
.mythic-bastionland .grid {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.mythic-bastionland .col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  min-width: 0;
}
.mythic-bastionland .col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
.mythic-bastionland .col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
.mythic-bastionland .col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.mythic-bastionland .col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
.mythic-bastionland .col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.mythic-bastionland .col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.mythic-bastionland .col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.mythic-bastionland .col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
.mythic-bastionland .col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.mythic-bastionland .col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
.mythic-bastionland .col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
.mythic-bastionland .col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.mythic-bastionland .p-0 {
  padding: 0px;
}
.mythic-bastionland .pt-0 {
  padding-top: 0px;
}
.mythic-bastionland .pr-0 {
  padding-right: 0px;
}
.mythic-bastionland .pb-0 {
  padding-bottom: 0px;
}
.mythic-bastionland .pl-0 {
  padding-left: 0px;
}
.mythic-bastionland .m-0 {
  margin: 0px;
}
.mythic-bastionland .mt-0 {
  margin-top: 0px;
}
.mythic-bastionland .mr-0 {
  margin-right: 0px;
}
.mythic-bastionland .mb-0 {
  margin-bottom: 0px;
}
.mythic-bastionland .ml-0 {
  margin-left: 0px;
}
.mythic-bastionland .gap-0 {
  gap: 0px;
}
.mythic-bastionland .br-0 {
  border-radius: 0px !important;
}
.mythic-bastionland .p-1 {
  padding: 8px;
}
.mythic-bastionland .pt-1 {
  padding-top: 8px;
}
.mythic-bastionland .pr-1 {
  padding-right: 8px;
}
.mythic-bastionland .pb-1 {
  padding-bottom: 8px;
}
.mythic-bastionland .pl-1 {
  padding-left: 8px;
}
.mythic-bastionland .m-1 {
  margin: 8px;
}
.mythic-bastionland .mt-1 {
  margin-top: 8px;
}
.mythic-bastionland .mr-1 {
  margin-right: 8px;
}
.mythic-bastionland .mb-1 {
  margin-bottom: 8px;
}
.mythic-bastionland .ml-1 {
  margin-left: 8px;
}
.mythic-bastionland .gap-1 {
  gap: 8px;
}
.mythic-bastionland .br-1 {
  border-radius: 8px !important;
}
.mythic-bastionland .p-2 {
  padding: 16px;
}
.mythic-bastionland .pt-2 {
  padding-top: 16px;
}
.mythic-bastionland .pr-2 {
  padding-right: 16px;
}
.mythic-bastionland .pb-2 {
  padding-bottom: 16px;
}
.mythic-bastionland .pl-2 {
  padding-left: 16px;
}
.mythic-bastionland .m-2 {
  margin: 16px;
}
.mythic-bastionland .mt-2 {
  margin-top: 16px;
}
.mythic-bastionland .mr-2 {
  margin-right: 16px;
}
.mythic-bastionland .mb-2 {
  margin-bottom: 16px;
}
.mythic-bastionland .ml-2 {
  margin-left: 16px;
}
.mythic-bastionland .gap-2 {
  gap: 16px;
}
.mythic-bastionland .br-2 {
  border-radius: 16px !important;
}
.mythic-bastionland .p-3 {
  padding: 24px;
}
.mythic-bastionland .pt-3 {
  padding-top: 24px;
}
.mythic-bastionland .pr-3 {
  padding-right: 24px;
}
.mythic-bastionland .pb-3 {
  padding-bottom: 24px;
}
.mythic-bastionland .pl-3 {
  padding-left: 24px;
}
.mythic-bastionland .m-3 {
  margin: 24px;
}
.mythic-bastionland .mt-3 {
  margin-top: 24px;
}
.mythic-bastionland .mr-3 {
  margin-right: 24px;
}
.mythic-bastionland .mb-3 {
  margin-bottom: 24px;
}
.mythic-bastionland .ml-3 {
  margin-left: 24px;
}
.mythic-bastionland .gap-3 {
  gap: 24px;
}
.mythic-bastionland .br-3 {
  border-radius: 24px !important;
}
.mythic-bastionland .p-4 {
  padding: 32px;
}
.mythic-bastionland .pt-4 {
  padding-top: 32px;
}
.mythic-bastionland .pr-4 {
  padding-right: 32px;
}
.mythic-bastionland .pb-4 {
  padding-bottom: 32px;
}
.mythic-bastionland .pl-4 {
  padding-left: 32px;
}
.mythic-bastionland .m-4 {
  margin: 32px;
}
.mythic-bastionland .mt-4 {
  margin-top: 32px;
}
.mythic-bastionland .mr-4 {
  margin-right: 32px;
}
.mythic-bastionland .mb-4 {
  margin-bottom: 32px;
}
.mythic-bastionland .ml-4 {
  margin-left: 32px;
}
.mythic-bastionland .gap-4 {
  gap: 32px;
}
.mythic-bastionland .br-4 {
  border-radius: 32px !important;
}
.mythic-bastionland .align-items-center {
  align-items: center;
}
.mythic-bastionland .justify-content-center {
  justify-content: center;
}
.mythic-bastionland .justify-content-end {
  justify-content: flex-end;
}
.mythic-bastionland .align-self-center {
  align-self: center;
}
.mythic-bastionland .text-align-center {
  text-align: center;
}
.mythic-bastionland .text-indent-1 {
  text-indent: 8px;
}
.mythic-bastionland.chat-message {
  background: var(--primary-color);
  border: none;
}
.mythic-bastionland.chat-message .message-header {
  padding: 4px 8px;
  color: white;
}
.mythic-bastionland.chat-message .message-content {
  background: var(--paper-image-url);
  background-attachment: local;
  font-family: var(--text-font-family);
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding: 8px 8px 24px 8px;
  border-radius: 8px;
  color: var(--text-dark-color);
}
.mythic-bastionland.chat-message .message-content p {
  margin: 0 0 4px 0;
}
.mythic-bastionland.chat-message .message-content p:last-of-type {
  margin: 0;
}
.mythic-bastionland.chat-message .message-content .card-title {
  font-size: 16px;
  line-height: 32px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
}
.mythic-bastionland.chat-message .message-content .card-description {
  font-style: italic;
}
.mythic-bastionland.chat-message .message-content .outcome {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.mythic-bastionland.chat-message .message-content .outcome .outcome-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.mythic-bastionland.chat-message .message-content .outcome .outcome-description {
  padding: 8px 0 0 0;
}
.mythic-bastionland.chat-message .message-content .outcome .outcome-rolls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.mythic-bastionland.chat-message .message-content .outcome .outcome-roll {
  font-size: 32px;
  line-height: 32px;
  background-color: var(--hightlight-dark-color);
  color: white;
  border-radius: 8px;
  min-width: 48px;
  min-height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mythic-bastionland.chat-message .message-content .outcome .outcome-roll.gambit {
  background-color: var(--green);
}
.mythic-bastionland.chat-message .message-content .outcome .outcome-roll.strong-gambit {
  background-color: var(--orange);
}
.mythic-bastionland.chat-message .message-content .outcome .chat-message-button {
  width: auto;
  margin-top: 16px;
}
.mythic-bastionland.app {
  color: var(--text-light-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
}
.mythic-bastionland.app .window-header {
  background-color: var(--primary-color);
  border: none;
}
.mythic-bastionland.app .window-content {
  font-family: var(--text-font-family);
  background: none;
  font-size: 14px;
  line-height: 23px;
  padding: 0;
}
.mythic-bastionland.app .window-content i.fas {
  color: var(--secondary-color);
}
.mythic-bastionland.app .window-content i.fas.highlight {
  color: var(--hightlight-dark-color);
}
.mythic-bastionland.app .window-content form {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.mythic-bastionland.app .window-content form input[type=radio] {
  margin: 5px;
  top: auto;
}
.mythic-bastionland.app .window-content form input[type=checkbox] {
  margin: 0;
  top: auto;
  flex: none;
}
.mythic-bastionland.app .window-content form button i.fas {
  color: var(--text-light-color);
}
.mythic-bastionland.app .scrollable {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.mythic-bastionland.app .scrollable::-webkit-scrollbar {
  width: 0px;
}
.mythic-bastionland.app .scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--secondary-color);
  border-width: 0px;
}
.mythic-bastionland.app .scrollable::-webkit-scrollbar-track {
  box-shadow: none;
  margin: 8px 0;
}
.mythic-bastionland.nav-item.gm-dashboard {
  flex: 0;
  height: 34px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  white-space: nowrap;
}
.mythic-bastionland .text-large {
  color: var(--text-dark-color);
  border: none;
  margin: 0;
  font-family: var(--title-font-family);
  font-size: 28px;
  line-height: 42px;
  margin-left: -2px;
}
.mythic-bastionland .text-medium {
  color: var(--text-dark-color);
  border: none;
  margin: 0;
  font-family: var(--text-font-family);
  font-size: 18px;
  line-height: 27px;
}
.mythic-bastionland .text-medium-large {
  color: var(--text-dark-color);
  border: none;
  margin: 0;
  font-family: var(--title-font-family);
  font-size: 28px;
  line-height: 42px;
}
.mythic-bastionland .text-regular {
  color: var(--text-dark-color);
  border: none;
  margin: 0;
  font-family: var(--text-font-family);
  font-size: 14px;
  line-height: 22px;
}
.mythic-bastionland .text-number {
  color: var(--text-dark-color);
  border: none;
  margin: 0;
  font-family: var(--secondary-text-font-family);
  font-size: 22px;
  line-height: 28px;
}
.mythic-bastionland .label-large {
  height: 31px;
  line-height: 28px;
  align-self: flex-end;
}
.mythic-bastionland .label-regular {
  height: 16px;
  line-height: 14px;
  align-self: flex-end;
}
.mythic-bastionland .label-number {
  height: 14px;
  line-height: 14px;
  align-self: flex-end;
}
.mythic-bastionland .input-large {
  font-family: var(--secondary-text-font-family);
  background: transparent;
  color: var(--text-dark-color);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 0;
  padding-left: 4px;
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  background: repeating-linear-gradient(to bottom, transparent, transparent 25px, rgba(0, 0, 0, 0.3) 26px);
  background-attachment: local;
}
.mythic-bastionland .input-large::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland .input-large::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland .input-regular {
  font-family: var(--secondary-text-font-family);
  background: transparent;
  color: var(--text-dark-color);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 0;
  padding-left: 4px;
  font-size: 24px;
  line-height: 28px;
  height: 28px;
  background: repeating-linear-gradient(to bottom, transparent, transparent 23px, rgba(0, 0, 0, 0.3) 24px);
  background-attachment: local;
}
.mythic-bastionland .input-regular::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland .input-regular::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland .input-simple {
  font-family: var(--secondary-text-font-family);
  background: transparent;
  color: var(--text-dark-color);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 0;
  padding-left: 4px;
  font-family: var(--text-font-family);
  font-size: 13px;
  line-height: 28px;
  height: 28px;
}
.mythic-bastionland .input-simple::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland .input-simple::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland .input-number {
  font-family: var(--secondary-text-font-family);
  background: transparent;
  color: var(--text-dark-color);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 0;
  padding-left: 4px;
  font-size: 30px;
  line-height: 28px;
  height: 28px;
  max-width: 36px;
  padding: 0;
  background: repeating-linear-gradient(to bottom, transparent, transparent 25px, rgba(0, 0, 0, 0.3) 26px);
  background-attachment: local;
  text-align: center;
}
.mythic-bastionland .input-number::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland .input-number::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.mythic-bastionland input[type=checkbox].input-checkbox {
  height: 22px;
  margin-top: 6px !important;
  margin-left: 8px !important;
}
.mythic-bastionland .text-bold {
  font-weight: 700;
}
.mythic-bastionland .text-italic {
  font-style: italic;
}
.mythic-bastionland .text-lowercase {
  text-transform: lowercase;
}
.mythic-bastionland .text-small-caps {
  font-variant: small-caps;
}
.mythic-bastionland .bg-primary {
  background-color: var(--primary-color);
  color: var(--text-light-color);
}
.mythic-bastionland .clear-bg {
  background: none;
}
.mythic-bastionland .button-primary {
  background: var(--secondary-color);
  color: var(--text-light-color);
  border: none;
  border-radius: 4px;
  line-height: 16px;
  font-size: 12px;
  white-space: nowrap;
  margin: 0;
  padding: 8px;
}
.mythic-bastionland .button-primary:disabled {
  opacity: 0.8;
}
.mythic-bastionland .paper {
  background-image: var(--paper-image-url);
  background-attachment: local;
}
.mythic-bastionland .inline-roll {
  background: var(--hightlight-light-color) !important;
  color: var(--text-dark-color);
  border-color: var(--hightlight-dark-color);
  padding: 0 4px !important;
  border-radius: 4px !important;
  font-size: 13px;
}
.mythic-bastionland .inline-roll i {
  color: var(--text-dark-color);
}
.mythic-bastionland.sheet.item {
  min-width: 400px;
  max-width: 400px;
}
.mythic-bastionland.sheet.actor {
  min-width: 630px;
  max-width: 630px;
}
.mythic-bastionland.sheet.gm-dashboard {
  min-width: 400px;
  max-height: 400px;
}
.mythic-bastionland.sheet .editor-container {
  min-height: 200px;
}
.mythic-bastionland.sheet .editor-container .editor {
  min-height: 200px;
  width: 100%;
}
.mythic-bastionland.sheet .editor-container .editor .editor-content {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 8px;
  min-height: 200px;
}
.mythic-bastionland.sheet .picture {
  width: 140px;
  height: 160px;
  border-radius: 16px;
  border: 4px solid var(--primary-color);
  background-color: var(--primary-color);
  overflow: hidden;
}
.mythic-bastionland.sheet .picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: none;
}
.mythic-bastionland.sheet .picture.shield {
  border-radius: 50% 50% 50% 50%/12% 12% 88% 88%;
}
.mythic-bastionland.sheet .picture.shieldimg {
  border-radius: 50% 50% 50% 50%/12% 12% 88% 88%;
}
.mythic-bastionland.sheet .item .item-description p {
  margin-top: 0;
  margin-bottom: 4px;
}
.mythic-bastionland.sheet .item .item-description p:last-of-type {
  margin: 0;
}
.mythic-bastionland.sheet .item i.fas {
  font-size: 13px;
}
.mythic-bastionland.sheet .tabs {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
}
.mythic-bastionland.sheet .tab {
  width: 100%;
}