&.chat-message {
  background: var(--primary-color);
  border: none;

  .message-header {
    padding: 4px 8px;
    color: white;
  }

  .message-content {
    background: var(--paper-image-url);
    background-attachment: local;
    font-family: var(--text-font-family);
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 8px 24px 8px;
    border-radius: 8px;
    color: var(--text-dark-color);

    p {
      margin: 0 0 4px 0;

      &:last-of-type {
        margin: 0;
      }
    }

    .card-title {
      font-size: 16px;
      line-height: 32px;
      background-color: var(--secondary-color);
      color: white;
      border-radius: 8px;
    }

    .card-description {
      font-style: italic;
    }

    .outcome {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .outcome-title {
        font-size: 18px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .outcome-description {
        padding: 8px 0 0 0;
      }

      .outcome-rolls {
        display: flex;
        gap: 8px;
      }

      .outcome-roll {
        font-size: 32px;
        line-height: 32px;
        background-color: var(--hightlight-dark-color);
        color: white;
        border-radius: 8px;
        min-width: 48px;
        min-height: 48px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.gambit {
          background-color: var(--green);
        }

        &.greater-gambit {
          background-color: var(--orange);
        }        
      }

      .chat-message-button {
        width: auto;
        margin-top: 16px;
      }
    }
  }
}
