@import "./root.scss";
.mythic-bastionland {
  --color-shadow-primary: var(--hightlight-dark-color);
  --color-text-hyperlink: var(--hightlight-dark-color);
  @import "./utils.scss";
  @import "./chat-message.scss";
  @import "./app.scss";
  @import "./style.scss";
  @import "./sheet.scss";
}
