&.sheet {

  &.item {
    min-width: 400px;
    max-width: 400px;
  }

  &.actor {
    min-width: 630px;
    max-width: 630px;
  }

  &.gm-dashboard {
    min-width: 400px;
    max-height: 400px;
  }

  .editor-container {
    height: 200px;

    .editor {
      height: 100%;
      width: 100%;

      .editor-content {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 8px;
      }
    }
  }

  .picture {
    width: 140px;
    height: 160px;
    border-radius: 16px;
    border: 4px solid var(--primary-color);
    background-color: var(--primary-color);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: none;
    }

    &.shield {
      border-radius: 50% 50% 50% 50%/12% 12% 88% 88%;

      &img {
        border-radius: 50% 50% 50% 50%/12% 12% 88% 88%;
      }
    }
  }

  .item {
    .item-description {
      p {
        margin-top: 0;
        margin-bottom: 4px;
      }

      p:last-of-type {
        margin: 0;
      }
    }

    i.fas {
      font-size: 13px;
    }
  }

  .tabs {
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
  }
  .tab {
    width: 100%;
  }  
}
