{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:i18n-json/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["import"],
  "globals": {
    "PIXI": "readonly",
    "PoolTerm": "readonly",
    "Sequencer": "readonly",
    "Sequence": "readonly",
    "dragRuler": "readonly",
    "AutoAnimations": "readonly",
    "Hooks": "readonly",
    "game": "readonly",
    "ChatMessage": "readonly",
    "renderTemplate": "readonly",
    "CONST": "readonly",
    "Application": "readonly",
    "mergeObject": "readonly",
    "TextEditor": "readonly",
    "fromUuid": "readonly",
    "Roll": "readonly",
    "AudioHelper": "readonly",
    "ActorSheet": "readonly",
    "ItemSheet": "readonly",
    "Handlebars": "readonly",
    "Dialog": "readonly",
    "HandlebarsHelpers": "readonly",
    "loadTemplates": "readonly",
    "Actors": "readonly",
    "Items": "readonly",
    "CONFIG": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "prefer-const": 2,
    "i18n-json/valid-message-syntax": [
      2,
      {
        "syntax": "icu"
      }
    ],
    "i18n-json/valid-json": 2,
    "i18n-json/sorted-keys": [
      2,
      {
        "order": "asc",
        "indentSpaces": 2
      }
    ],
    "i18n-json/identical-keys": 0,
    "no-return-await": "error"
  }
}
