{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:i18n-json/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "@typhonjs-fvtt/eslint-config-foundry.js"    
  ],
  "plugins": ["import", "@stylistic"],
  "globals": {
    "PoolTerm": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "prefer-const": 2,
    "comma-dangle": ["error", "never"],
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-return-await": "error",
    "i18n-json/valid-message-syntax": [ 2, { "syntax": "non-empty-string" }],
    "i18n-json/valid-json": 2,
    "i18n-json/sorted-keys": [ 2, { "order": "asc", "indentSpaces": 2 }],
    "i18n-json/identical-keys": 0
  }
}
